/*
  Initial styles for Tandygram drawing app
  By Cast Iron Coding

  Plain CSS, because there isn't much here.
*/


/* Reset Styles */
html, body {
  padding: 0;
  margin: 0;
}

.tandy-draw, .tandy-view {
  width: 100vw;
  height: 100vh;
}

.save-button {
  position: fixed;
  bottom: 50px;
  left: 50px;
}